.titlefeedback {
  font-size: 35px;
  color: #009036;
  text-align: center;
  font-family: 'Sui Generis';
}
.feedback_col {
  display: flex;
  justify-content: center;
}
.feedcol {
  font-size: 18px;  font-family: 'Sui Generis'; text-align: center;
}
.review_product {
  color: #009036;
  margin-top: 30px;
  font-size: 28px;  font-family: 'Sui Generis'; text-align: center;
}
.review_product_special {
  color: #009036;
  margin-top: 50px;
  font-size: 28px;  font-family: 'Sui Generis'; text-align: center;
}

.review_company {
  color: #5f73db;
  font-size: 20px;  font-family: 'Sui Generis'; text-align: center;
}