@font-face {
  font-family: 'Sui Generis';
  src: url("../../assets/fonts/sui_generis_rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.homeImage {
  display: flex;
  justify-content: center;
}
.intro_sb_st {
  font-size: 40px;
  color: #009036;
  text-align: center;
  font-family: 'Sui Generis' !important;
}
.intro_txt_st {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: 'Sui Generis' !important;
}
.intro_pd {
  padding: 15px;
}
.space-set {
  width: 100%;
  height: 25px;
}
.intro_set {
  // display: flex;
}
.into_col {
  display: flex;
}
.logo-center {
  text-align: center;
}
.logo_sz {
  width: 480px;
}
.wire_st {
  color: black;
  font-family: 'Sui Generis';
  font-size: 25px;
}
$colors: (
  primary: (
    100: hsl(203, 100%, 95%),
    200: hsl(203, 100%, 80%),
    300: hsl(203, 100%, 65%),
    400: hsl(203, 100%, 50%),
    500: hsl(203, 100%, 30%)
  ),
  neutral: (
    100: hsl(213, 24%, 100%),
    200: hsl(213, 24%, 75%),
    300: hsl(213, 24%, 65%),
    400: hsl(213, 24%, 50%),
    500: hsl(213, 24%, 40%),
    600: hsl(213, 24%, 25%),
    700: hsl(213, 24%, 15%),
    800: hsl(213, 25%, 10%),
    900: hsl(213, 61%, 10%)
  )
);